body {
  margin: 0;
  background: linear-gradient(to right, rgb(98, 198, 244), rgb(242, 49, 49));
}

.App {
  justify-content: center;
  display: grid;
  margin-top: 3rem;
  grid-template-columns: repeat(4, 7rem);
  grid-template-rows: minmax(12rem, auto) repeat(5, 7rem);
}

.App > button {
  font-family: initial;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .55);
}

.App > button:hover,
.App > button:hover {
  background-color: rgba(255, 255, 255, .95);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color:rgba(255, 255, 255, .65);
  font-size: 2rem;
}

.output .current-operand {
  color:white;
  font-size: 2.5rem;
}